@import '../../../styles/variable';

.stepItem {
    width: 20%;
    height: 3px;
    background: $color-Divider;
    position: relative;

    &:last-child {
        width: 0;
    }

    ;

    .stepBox {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -5px;
        text-align: center;

        .stepText {
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            color: $color-white;
            background: $color-Divider;
            border-radius: 50%;
        }

        .stepTextActive{
            background: $color-black;
        }

        p { 
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            color: $color-Main;
            word-wrap: normal;
            width: 200px;
        }
    }

};

.stepItemActive{
    background: $color-black
}