@import '../../styles/variable';


.resultItem{

    padding: 16px;
    background-color: $color-MainBacground;
    border-radius: 16px;
    transition: all .3s;

    &:hover{
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }

    .itemTitle {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
    }
    
    .itemContent {
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 18px;
    }
    
    .tagItem {
        padding: 4px 8px;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: $color-Main;
        background: #FFFFFF;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        cursor: pointer;
        margin-right: 8px;
    }

}
