.checkBox {
    .inputCheckBox {
        width: 0;
        height: 0;
        opacity: 0;
        cursor: pointer;
        border: none;
        background-color: transparent !important;
    }

    .boxChecked {
        width: 20px;
        height: 20px;
        border: 1px solid #20272c;
        position: relative;
        cursor: pointer;
        border-radius: 2px;
        overflow: hidden;
    }

    .IconChecked {
        position: absolute;
        top: -2px;
        left: -2px;
        font-size: 21px;
        color: #20272c;
        animation: onShowCheck 0.2s 1;
    }
}

@keyframes onShowCheck {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
