.ant-picker-dropdown.css-dev-only-do-not-override-u7uyzu.ant-picker-dropdown-range {
  .ant-picker-date-panel {
    width: 100%;

    .ant-picker-content {
      width: 100%;
    }
    table tr:nth-child(6) {
      display: none;
    }
  }
  .ant-picker-panel:first-child {
    .ant-picker-body {
      border-right: 1px solid $color-black;
    }
  }
  .ant-picker-cell::before {
    height: 86%;
  }
  .ant-picker-cell-inner {
    width: 100%;
    height: 100%;
    border: 1px solid gainsboro;
    line-height: 20px;
  }
  .ant-picker-content .ant-picker-cell {
    padding: 3px !important;
  }
}
