

.ant-picker-dropdown.css-dev-only-do-not-override-u7uyzu.ant-picker-dropdown-range{
    left: 50% !important;
    transform: translateX(-50%) !important;
    
    .ant-picker-date-panel{
        width: 100% !important;

        .ant-picker-content{
            width: 100% !important;

        }
        
    }
    .ant-picker-panel:first-child {
        .ant-picker-body{
            border-right: 1px solid $color-black;
        }
    }

    .ant-picker-cell::before{
        
        height: 86% !important;
    }

    .ant-picker-cell-inner{
        width: 100%;
        height: 100% ;
        border: 1px solid gainsboro;
    }

   
    

}
