@import '../../../../styles/variable';

.dateBottom {
    padding: 8px 18px;
    .dateBottomItem {
        span {
            margin-right: 8px;
            padding: 4px 8px;
            font-size: 12px;
            line-height: 16px;
            color: $color-white;
            font-weight: 400;
            border-radius: 4px;

            &:last-of-type {
                margin-right: 0;
            }
        }

        .itemLow {
            background: $date-teal;
        }
        .itemAverage {
            background: $date-yellow;
        }
        .itemHigh {
            background: $date-orage;
        }
    }
}
